#Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.Buttons {
  margin-right: 15px;
}

.header-button {
  margin-left: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
